:root {
  --vp-c-brand-1: #ff7edb;
  --vp-c-brand-2: #e869c4;
  --vp-c-brand-3: #c94fa8;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, #ff7edb 20%, #36f9f6 80%);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #ff7edb55 30%, #36f9f655 70%);
  --vp-home-hero-image-filter: blur(56px);
}
